{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Subject{% endblock %}

{% block content %}
<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Edit Subject</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'subject_list' %}">Subjects</a></li>
                    <li class="breadcrumb-item active">Edit Subject</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Display Error Messages -->
    {% if messages %}
    <div class="row">
        <div class="col-12">
            {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}

                        <!-- Display form errors -->
                        {% if form.errors %}
                        <div class="alert alert-danger">
                            <strong>Please correct the following errors:</strong>
                            <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ field.label }}: {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        <div class="row">
                            <!-- Basic Subject Details -->
                            <div class="col-12">
                                <h5 class="form-title"><span>Subject Details</span></h5>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>{{ form.subject_code.label }} *</label>
                                    {{ form.subject_code }}
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>{{ form.name.label }} *</label>
                                    {{ form.name }}
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>{{ form.department.label }} *</label>
                                    {{ form.department }}
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>{{ form.credits.label }}</label>
                                    {{ form.credits }}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label>{{ form.description.label }}</label>
                                    {{ form.description }}
                                </div>
                            </div>

                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Update Subject</button>
                                <a href="{% url 'subject_list' %}" class="btn btn-secondary">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}